[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark
[submodule "3rdparty/libyaml"]
	path = 3rdparty/libyaml
	url = https://github.com/yaml/libyaml
[submodule "3rdparty/gtest-parallel"]
	path = 3rdparty/gtest-parallel
	url = https://github.com/google/gtest-parallel
[submodule "3rdparty/filesystem"]
	path = 3rdparty/filesystem
	url = https://github.com/gulrak/filesystem.git
